html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
}


.hero {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 71px;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo-link{
    display: inline-block;
}

.logo {
    display: block; 
    width: 126.89px;
    margin-right: 459px;
}

.nav {
    display: inline-block;
}

.nav__link {
    margin-left: 67px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: rgb(18, 18, 18);
}

.active__link, .nav__link:hover {
    display: inline-block;
    opacity: 0.5;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: #000000 solid 1px;
}


.main-title {
    max-width: 956px;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.title-image {
    position: relative;
    background-image: url('../resourses/first.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 150px;
}

.title-text {
    position: absolute;
    width: 430px;
    font-size: 20px;
    line-height: 27.34px;
    color: #fff; 
    letter-spacing: -0.03em;
    bottom: 40px;
    left: 40px;
}


.title {
    font-weight: 400;
    margin-bottom: 31px;
    font-style: 18px;
    line-height: 25px;
    font-size: 18px;
}

.about-text {
    width: 1050px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.about-button {
    font-size: 20px;
    display: block;
    border:  1px solid #000000;
    width: 249px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: #fff;
    background-color:#AD1818;
    border-radius: 5px;

}

.projects {
    margin-top: 150px;
}

.item {
    margin-bottom: 90px;
}

.item__image {
    width: 1150px;
    height: 450px;
}

.item__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    margin-top: 15px;
    letter-spacing: -0.03em;
}

.item__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 41px;
    color: #AD1818;
    margin-top: 15px;
}

.project__button {
    cursor: pointer;
    width: 100%;
    height: 153px;
    line-height: 153px;
    font-size: 30px;
    font-weight: 400;
    color:rgb(173, 24, 24);
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    margin-bottom: 147px;
}

.project__button:hover {
    color: white;
    border: 1px solid rgb(173, 24, 24);
    background-color: rgb(173, 24, 24);
}

.services {
    padding-top: 151px;
    background-color: #000000;
    color: white;
    padding-bottom: 35px;
    width: 100%;
    padding-left: 145px;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.service__item {
    margin-bottom: 55px;
}

.service__item:nth-last-child(1) {
    margin-bottom: 110px;
}

.service__image {
    width: 1150px;
    height: 270px;
}

.service__title {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 200;
    line-height: 41px;
    letter-spacing: -3%;
}

.section-image {
    width: 100vw;
    position: relative;
    background-image: url('../resourses/bedroom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 717px;
    margin-bottom: 150px;
}

.section-text {
    position: absolute;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
    bottom: 60px;
    left: 147px;
    width: 443px;
}

.title-contacts:before {
    content: '';
    display: block;
    background-image: url('../resourses/phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 13px;
    height: 22px;
    margin-bottom: 13px;
}

.number {
    margin-bottom: 30px;
}

.telNumber {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: rgb(18, 18, 18);
}

.mail {
    margin-bottom: 160px;
}

.mailto {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -3%;
    color: rgb(18, 18, 18);
    opacity: 0.5;
    text-decoration: none;
    border-bottom: #000000 solid 2px;
}

.footer {
    padding-top: 60px;
    text-align: center;
    width: 100vw;
    height: 229px;
    background-color: rgb(18, 18, 18);
}

.footer__link {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -3%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 60px;
}


.footer__text {
    padding-top: 88px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: center;
}

